.person_container {
	border: 2px solid black;
	margin-bottom: 20px;
	text-align: center;
	width: 350px;
	padding: 10px;
}	

h1 {
	color: lightblue;
}

div.person_container:nth-child(even) {
    background: lightyellow;
}

div.person_container:nth-child(odd) {
    background: lightblue;
}

.bordered {
	border: 3px dotted black;
}